{% extends "catalog.html" %} 
{% block content %}      
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay: true">
    {% load static %}
    <ul class="uk-slideshow-items">
        <li>
            <img src="{% static "images/slider/metal_cutting.jpg" %}" alt="" uk-cover>
        </li>
        <li>
            <img src="{% static "images/slider/metal_welding.jpg" %}" alt="" uk-cover>
        </li>
        <li>
            <img src="{% static "images/slider/happy_worker.jpg" %}" alt="" uk-cover>
		</li>
		<li>
            <img src="{% static "images/slider/cnc_cutting.jpg" %}" alt="" uk-cover>
        </li>
    </ul>

    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>
{% endblock %}