{% extends "base.html" %}
{% block site_wrapper %}

<h2>Sign in</h2>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">ورود</button>
  <a href="/signup" class="skip_link">ثبت نام</a>
  <a class="skip_link">فراموشی رمز عبور</a>
</form>

{% endblock %}