{% extends "base.html" %}
{% block site_wrapper %}

<div class="uk-vertical-align-middle uk-text-center uk-height-1-1 uk-flex uk-flex-center">
  <div class=" uk-card-default uk-position-center uk-padding-large" style="width:450px;">
    <h2>ثبت نام</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
      </p>
      {% endfor %}
      <input class="uk-button" type="submit" value="ثبت نام" />
    </form>
  </div>
</div>
{% endblock %}