{% extends "base.html" %}
{% block site_wrapper %}
<div class="uk-vertical-align-middle uk-text-center uk-height-1-1 uk-flex uk-flex-center">
  <div class=" uk-card-default uk-position-center uk-padding-large" style="width:450px;">

    <h2>ورود</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      {{ field }}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
      </p>
      {% endfor %}
      <input type="submit" class="uk-button" value="ورود" /><br />
      <div class="uk-grid-small  uk-padding-large" uk-grid>
        <div class="uk-width-1-2 uk-text-small "><small><a href="/signup">ثبت نام</a></small></div>
        <div class="uk-width-1-2 uk-text-small "><small><a href="">فراموشی رمز عبور</a></small></div>
      </div>
    </form>
  </div>
</div>

{% endblock %}